body{
    width: 2000px;
    height: 800px;

}

.caja{
    height: 180px;
}

main{
    width: 100%;
    height: 800px;
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.tarjetas{
    margin: 0 15%;
    padding: 10% 0;
}

.card {
    color: #000000;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 20px 20px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.col h2{
    color: #000000;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
}

.col div:hover{
    border-color: #c78c19;
    transform: scale(1.2);
}
.col :active{
    border-color: #088c19;
}

footer{
    text-align:center;
    display: flex;
}

.links li{
    display: inline-table;
    vertical-align:center;
    padding: 0 20px;
}

.imagenes{
    width: 100px;
}

.formulario{
    text-align: center;
    padding-top: 25px ;
    margin: 0;
}

.crear-noticia{
    text-align: center;
    padding: 50px;
    margin: 5%;
}


