<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head>
  <title>Noticias Egg</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="caja">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  admin
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/admin/carga}">Crear noticia</a></li>
                  <li>
                    <hr class="dropdown-divider"><a class="dropdown-item" th:href="@{/admin/lista}">Modificar noticia</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Elminar noticia</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h1><img src="/img/Egg.png">-Noticias</h1>
    </div>
  </header>
  <main>
      <div class="row row-cols-1 row-cols-md-4 tarjertas">
        <div class="col" th:each="noticia : ${noticias}">
          <div class="card border-primary mb-4">
            <a th:href="@{/admin/mostrar/__${noticia.id}__}">
              <div class="card-body">
                <h2 class="card-tittle1 text-primay" th:text="${noticia.titulo}"></h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <ul class="links">
      <li><a href="https://github.com/Juanpa2204"><img class="imagenes" src="/img/GitHub-Emblem.png" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/pablo-rojas-5234771a3/"><img class="imagenes"
            src="/img/Linkedin-Logo.png" alt=""></a></li>
      <li><a href="https://eggeducacion.com/es-AR/"><img class="imagenes" src="/img/Egg.png" alt=""></a></li>
    </ul>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>
</html>